<div class="jumbotron">
        <div class="container">
            <h1>HUCSCI Drive</h1>
            <p>External Resources</p>
            <p>Outside resources you can use to get ahead, catch up on old topics, and understand topics not quite clear to you.</p> 
        </div>
      </div>  
<video autoplay controls muted poster="https://github.com/jayenator565/HUCSCIDrive/blob/master/bin/imageedit_11_9530884042.png?raw=true" id="bgvid" loop>
<source src="https://raw.githubusercontent.com/jayenator565/HUCSCIDrive/master/bin/Howard_University_College_of_Engineering_Architect.webm" type="video/webm">
<source src="https://github.com/jayenator565/HUCSCIDrive/blob/master/bin/Howard%20University%20College%20of%20Engineering%2C%20Architecture%2C%20and%20Computer%20Sciences.mp4" type="video/mp4">
</video>
    <div class="learn-more">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3 align="center">Homework Help</h3>
                    <ul>
                        <li><a href='http://www.wolframalpha.com/'>Stack Overflow</a></li>
                        <li><a href='http://stackoverflow.com/'>Wolfram Alpha</a></li>
                        <li><a href='http://www.geeksforgeeks.org/'>Geeks for Geeks</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3 align="center">Learning</h3>
                    <ul>
                        <li><a href='https://www.codecademy.com/'>Code Academy</a></li>
                        <li><a href='http://www.cprogramming.com/challenge.html'>Cprogramming</a></li>
                        <li><a href='http://www.freecodecamp.com/'>Free Code Camp</a></li>
                        <li><a href='https://www.coursera.org/'>Course Era</a></li>
                        <li><a href='https://www.khanacademy.org/computing/computer-programming'>Khan Academy</a></li>
                        <li><a href='http://www.w3schools.com/'>W3 Schools</a></li>
                        <li><a href='http://ocw.mit.edu/courses/#electrical-engineering-and-computer-science'>MIT EE and CS Courses</a></li>
                        <li><a href='https://developers.google.com/university/'>Google Code University</a></li>
                        <li><a href='http://learncodethehardway.org/'>Learn Code the Hard Way</a></li>
                        <li><a href='http://www.freetechbooks.com/'>Free Text Books</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3 align="center">Essentials</h3>
                    <ul>
                        <li><a href='https://www.linkedin.com/'>LinkedIn</a></li>
                        <li><a href='https://github.com/'>Github</a></li>
                        <li><a href='https://bitbucket.org/'>Bit Bucket</a></li>
                        <li><a href='http://codepen.io/'>Code Pen</a></li>
                        <li><a href='https://news.ycombinator.com/'>Hacker News</a></li>
                        <li><a href='https://www.facebook.com/CSatHoward/events/'>Howard CS Events</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div> 