<div class="jumbotron">
        <div class="container">
            <h1>HUCSCI Drive</h1>
            <p>Faculty and Staff</p>
            <p>A compilation of the people and resources you should know</p> 
        </div>
      </div>
<video autoplay controls muted poster="https://github.com/jayenator565/HUCSCIDrive/blob/master/bin/imageedit_11_9530884042.png?raw=true" id="bgvid" loop>
<source src="https://raw.githubusercontent.com/jayenator565/HUCSCIDrive/master/bin/Howard_University_College_of_Engineering_Architect.webm" type="video/webm">
<source src="https://github.com/jayenator565/HUCSCIDrive/blob/master/bin/Howard%20University%20College%20of%20Engineering%2C%20Architecture%2C%20and%20Computer%20Sciences.mp4" type="video/mp4">
</video>  
    <div class="learn-more">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3 align="center">Dr. Legand Burge: Department Head</h3>
                    <a href="http://www.cs.ceacs.howard.edu/users/blegand"><img class="headshot" src="images/lburge.jpg"></a>
                </div>
                <div class="col-md-3">
                    <h3 align="center">Dr. Harry Keeling</h3>
                    <a href="http://www.cs.ceacs.howard.edu/users/hkeeling"><img class="headshot" src="images/hkeeling.png"></a>
                </div>
                <div class="col-md-3">
                    <h3 align="center">Adrienne Lacy</h3>
                    <a href="http://www.cs.ceacs.howard.edu/users/alacy"><img class="headshot" src="images/alacy.jpg"></a>
                </div>
                <div class="col-md-3">
                    <h3 align="center">Sharon Lacy</h3>
                    <a href="http://www.cs.ceacs.howard.edu/users/slacy"><img class="headshot" src="images/slacy.png"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <h3 align="center">Dr. Chunmei Liu</h3>
                    <a href="http://www.cs.ceacs.howard.edu/users/cliu"><img class="headshot" src="images/cliu.jpg"></a>
                </div>
                <div class="col-md-2">
                    <h3 align="center">Dr. Todd Shurn</h3>
                    <a href="http://www.cs.ceacs.howard.edu/users/tshurn"><img class="headshot" src="images/tshurn.jpg"></a>
                </div>
                <div class="col-md-2">
                    <h3 align="center">Dr. Wayne Patterson</h3>
                    <a href="http://www.cs.ceacs.howard.edu/users/wpatterson"><img class="headshot" src="images/wpatterson.jpg"></a>
                </div>
                <div class="col-md-2">
                    <h3 align="center">Guy M. Lingani</h3>
                    <a href="http://www.cs.ceacs.howard.edu/users/glingani"><img class="headshot" src="images/glingani.jpg"></a>
                </div>
                <div class="col-md-2">
                    <h3 align="center">Dr. Gloria Washington</h3>
                    <a href="http://www.cs.ceacs.howard.edu/users/gwashington"><img class="headshot" src="images/gwashington.jpg"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <h3 align="center">Dr. Mugizi Robert Rwebangira</h3>
                    <a href="http://www.cs.ceacs.howard.edu/users/mrwebangira"><img class="headshot" src="images/mrwebangira.jpg"></a>
                </div>
                <div class="col-md-2">
                    <h3 align="center">Dr. Gedare Bloom</h3>
                    <a href="http://www.cs.ceacs.howard.edu/users/gedare"><img class="headshot" src="images/gbloom.jpg"></a>
                </div>
                <div class="col-md-2">
                    <h3 align="center">Dr. Jiang Li</h3>
                    <a href="http://www.cs.ceacs.howard.edu/users/jli"><img class="headshot" src="images/jli.jpg"></a>
                </div>
                <div class="col-md-2">
                    <h3 align="center">Dr. Peter A. Keiller</h3>
                    <a href="http://www.cs.ceacs.howard.edu/users/pkeiller"><img class="headshot" src="images/pkeiller.jpg"></a>
                </div>
                <div class="col-md-2">
                    <h3 align="center">Dr. Moses Garuba</h3>
                    <a href="http://www.cs.ceacs.howard.edu/users/mgaruba"><img class="headshot" src="images/mgaruba.jpg"></a>
                </div>
            </div>
        </div>
    </div> 